n8n_sleep_prescription_manual_start.json
{
  "name": "TimeWaver 21-Day Manual Start",
  "nodes": [
    {
      "parameters": {},
      "id": "8a7093e5-5a77-4fd1-8ab6-a9a5eac11314",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -120,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "buyer_name",
              "value": "王小明"
            },
            {
              "name": "buyer_email",
              "value": "test@example.com"
            },
            {
              "name": "buyer_phone",
              "value": "0912345678"
            },
            {
              "name": "product_code",
              "value": "B"
            },
            {
              "name": "product_name",
              "value": "【B劑】深海艙・Delta波 0.5-4Hz"
            },
            {
              "name": "merchant_trade_no",
              "value": "MANUAL-20260409-001"
            },
            {
              "name": "trade_amt",
              "value": "299"
            }
          ]
        },
        "options": {}
      },
      "id": "7228b44c-dca3-4e1b-84d2-3c15ab7f6d19",
      "name": "Set Customer Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        120,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "client_name",
              "value": "={{ $json.buyer_name || '' }}"
            },
            {
              "name": "client_email",
              "value": "={{ $json.buyer_email || '' }}"
            },
            {
              "name": "client_phone",
              "value": "={{ $json.buyer_phone || '' }}"
            },
            {
              "name": "prescription_type",
              "value": "={{ (($json.product_code || '').toString()).toUpperCase() }}"
            },
            {
              "name": "product_name",
              "value": "={{ $json.product_name || '' }}"
            },
            {
              "name": "merchant_trade_no",
              "value": "={{ $json.merchant_trade_no || '' }}"
            },
            {
              "name": "trade_amt",
              "value": "={{ $json.trade_amt || '' }}"
            },
            {
              "name": "start_timestamp",
              "value": "={{ $now.setZone('Asia/Taipei').toFormat('yyyy-LL-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f1c4a76a-3c2b-4cf3-9d72-1f8ecb2c2a11",
      "name": "Normalize Payment Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        360,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15AeFm73ATfDxlipIIakvy8DxvNxbo9xar5d-0vuHrvY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15AeFm73ATfDxlipIIakvy8DxvNxbo9xar5d-0vuHrvY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "{{ $json.start_timestamp }}",
            "Name": "{{ $json.client_name }}",
            "Email": "{{ $json.client_email }}",
            "Prescription Type": "{{ $json.prescription_type }}",
            "Status": "Day 1 - Sent"
          },
          "matchingColumns": [
            "Timestamp",
            "Name",
            "Email",
            "Prescription Type",
            "Status"
          ]
        },
        "options": {}
      },
      "id": "google-sheets-node-1",
      "name": "Google Sheets (Record Client)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        580,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "naOPDNB4CMwotNnb",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Normalize Payment Payload').item.json.prescription_type }}",
              "operation": "equal",
              "value2": "A"
            }
          ]
        }
      },
      "id": "f5f5f5f5-f5f5-f5f5-f5f5-f5f5f5f5f5f5",
      "name": "IF Type A",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Normalize Payment Payload').item.json.prescription_type }}",
              "operation": "equal",
              "value2": "B"
            }
          ]
        }
      },
      "id": "e8e8e8e8-e8e8-e8e8-e8e8-e8e8e8e8e8e8",
      "name": "IF Type B",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        980,
        450
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Normalize Payment Payload').item.json.prescription_type }}",
              "operation": "equal",
              "value2": "C"
            }
          ]
        }
      },
      "id": "d1d1d1d1-d1d1-d1d1-d1d1-d1d1d1d1d1d1",
      "name": "IF Type C",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        600
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "download_link",
              "value": "https://filedn.com/l5VRxJ8LxjGRDv4gBEcLLB7/AA.wav"
            },
            {
              "name": "prescription_name",
              "value": "【A劑】斷路器・Theta波 4-7Hz"
            },
            {
              "name": "prescription_desc",
              "value": "強制切斷表意識的過載運轉，像拔掉大腦電源插頭一樣釋放腦壓。"
            },
            {
              "name": "observation_indicators",
              "value": "請觀察：1. 入睡前腦袋「跑馬燈」的次數是否減少？ 2. 早上醒來時，頭部的緊繃感是否有減輕？"
            },
            {
              "name": "day3_content",
              "value": "這三天請先觀察腦袋是否比較不會一路轉到睡前最後一刻。A 劑的重點不是立刻放空，而是讓夜晚的思緒密度先慢慢降下來。"
            },
            {
              "name": "day7_content",
              "value": "到第 7 天，理想狀態是你開始比較容易從工作模式切回休息模式。若還是會想很多，請把聆聽時間再提前 10 分鐘，讓身心提早轉場。"
            },
            {
              "name": "day14_content",
              "value": "進入第二週後半，請留意晚上的內在對話是否變短、變慢，或沒有那麼容易一路延伸。這表示 A 劑已經在建立新的睡前節奏。"
            },
            {
              "name": "day21_content",
              "value": "完成 21 天後，A 劑更像你的睡前降速開關。未來只要在思緒太滿的夜晚重新播放，就能更快回到比較穩定的夜間節奏。"
            }
          ]
        },
        "options": {}
      },
      "id": "a1a1a1a1-a1a1-a1a1-a1a1-a1a1a1a1a1a1",
      "name": "Set Variables A",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        980,
        150
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "download_link",
              "value": "https://filedn.com/l5VRxJ8LxjGRDv4gBEcLLB7/BB.wav"
            },
            {
              "name": "prescription_name",
              "value": "【B劑】深海艙・Delta波 0.5-4Hz"
            },
            {
              "name": "prescription_desc",
              "value": "物理性深層修復，將頻率拖入深海，阻絕外界雜音，強迫身體進入深層睡眠期。"
            },
            {
              "name": "observation_indicators",
              "value": "請觀察：1. 半夜醒來的次數是否減少？ 2. 早上起床時，身體的痠痛與沉重感是否有所改善？"
            },
            {
              "name": "day3_content",
              "value": "B 劑前幾天想追求的是身體卸力感。請先觀察半夜翻身、醒來或身體緊抓著不放的感覺，有沒有比原本更容易放掉一點。"
            },
            {
              "name": "day7_content",
              "value": "第 7 天時，理想變化通常不是『睡超久』，而是睡眠中斷減少、醒來時的身體負擔沒那麼重。這是 B 劑在幫你把夜間身體感受拉回更深層。"
            },
            {
              "name": "day14_content",
              "value": "到第 14 天，請留意是否比較容易連續睡完一段完整睡眠，或起床時沒那麼像剛打完仗。B 劑的目標，是讓夜裡的身體逐步回到更深的休息感。"
            },
            {
              "name": "day21_content",
              "value": "完成 21 天後，B 劑更像是一段固定的夜間深潛儀式。當你覺得身體累卻還沒真正鬆開時，它就是你重新找回沉下來感覺的入口。"
            }
          ]
        },
        "options": {}
      },
      "id": "b2b2b2b2-b2b2-b2b2-b2b2-b2b2b2b2b2b2",
      "name": "Set Variables B",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1180,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "download_link",
              "value": "https://filedn.com/l5VRxJ8LxjGRDv4gBEcLLB7/CC.wav"
            },
            {
              "name": "prescription_name",
              "value": "【C劑】心流校準・Alpha波 8-12Hz"
            },
            {
              "name": "prescription_desc",
              "value": "讓大腦在平靜中預先彩排明天的從容狀態，消除未知的恐懼感後自然入睡。"
            },
            {
              "name": "observation_indicators",
              "value": "請觀察：1. 對明天任務的預期性焦慮是否降低？ 2. 隔天工作時，進入「專注狀態」的速度是否變快？"
            },
            {
              "name": "day3_content",
              "value": "C 劑前三天請觀察的是白天殘留壓力到了晚上是否比較容易收回來。它不是把你變慢，而是讓你在平靜裡保留秩序感。"
            },
            {
              "name": "day7_content",
              "value": "到第 7 天，理想狀態是你對隔天任務的緊張感稍微鬆掉，不再一想到明天就整個人繃起來。這代表 C 劑開始幫你校準壓力與專注之間的切換。"
            },
            {
              "name": "day14_content",
              "value": "第 14 天後，請特別留意白天的專注進場速度。有些人會發現自己晚上較安定，白天也比較不容易被雜訊拉走，這是 C 劑常見的延伸效果。"
            },
            {
              "name": "day21_content",
              "value": "完成 21 天後，C 劑會成為你在高壓前夜或重要工作前的平衡工具。它的價值不是催眠，而是幫你在安定和清明之間找到更好的比例。"
            }
          ]
        },
        "options": {}
      },
      "id": "c3c3c3c3-c3c3-c3c3-c3c3-c3c3c3c3c3c3",
      "name": "Set Variables C",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1380,
        450
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "download_link",
              "value": "https://filedn.com/l5VRxJ8LxjGRDv4gBEcLLB7/DD.wav"
            },
            {
              "name": "prescription_name",
              "value": "【D劑】豐盛錨點・Solfeggio 852Hz"
            },
            {
              "name": "prescription_desc",
              "value": "在睡前最脆弱的時刻，洗掉恐懼的頻率，植入豐盛與信任的錨點。"
            },
            {
              "name": "observation_indicators",
              "value": "請觀察：1. 半夜驚醒時，那種「匱乏感與恐懼感」的強度是否減弱？ 2. 白天面對財務或決策時，是否感覺更加安定？"
            },
            {
              "name": "day3_content",
              "value": "D 劑前幾天請先觀察夜裡那種莫名不安、對未來的拉扯感有沒有稍微變小。它想做的，是讓你先回到一個比較能安住的內在位置。"
            },
            {
              "name": "day7_content",
              "value": "第 7 天時，理想變化通常是對金錢、安全感或未來的焦躁沒有那麼容易一路放大。這代表 D 劑正在幫你建立更穩的夜間心理底盤。"
            },
            {
              "name": "day14_content",
              "value": "進入第 14 天後，請留意自己是否比較能停在當下，不再被未來情境一路拖走。D 劑的重點，是讓夜裡的安全感慢慢從外部拉回內部。"
            },
            {
              "name": "day21_content",
              "value": "完成 21 天後，D 劑會更像你的安定錨點。未來遇到容易驚醒、容易被匱乏感拉走的夜晚，它能提醒你先回到穩定，再面對外面的變動。"
            }
          ]
        },
        "options": {}
      },
      "id": "d4d4d4d4-d4d4-d4d4-d4d4-d4d4d4d4d4d4",
      "name": "Set Variables D",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1380,
        650
      ]
    },
    {
      "parameters": {
        "fromEmail": "Erick | TimeWaver Audio <care@erickfirm.com>",
        "toEmail": "={{ $('Normalize Payment Payload').item.json.client_email }}",
        "subject": "【專屬載入】您的 TimeWaver 睡眠頻率處方已生成 (Day 1)",
        "emailFormat": "html",
        "text": "",
        "html": "=<p>{{ $('Normalize Payment Payload').item.json.client_name }} 您好，</p>\\n\\n<p>歡迎啟動這趟為期 21 天的神經重置旅程。您專屬的<strong>{{ $json.prescription_name }}</strong>已為您準備妥當。</p>\\n\\n<p>這不是一般的冥想音樂，而是結合了量子信息場（TimeWaver）與精準腦波頻率的修復工具。{{ $json.prescription_desc }}</p>\\n\\n<p>\\n<strong>🎧 專屬音頻連結：</strong><br>\\n<a href=\"{{ $json.download_link }}\" target=\"_blank\" style=\"color: #1a73e8; text-decoration: underline; font-weight: bold;\">點此開啟您的調頻空間</a>\\n</p>\\n\\n<p>\\n<strong>💡 今晚 / 今日的觀察指標：</strong><br>\\n{{ $json.observation_indicators }}\\n</p>\\n\\n<p>前幾天您可能會感受到特別放鬆，或反而出現多夢、思緒翻騰的現象，這都是潛意識正在釋放深層壓力的正常排毒反應。請保持每天聆聽的節奏，我們 Day 3 見。</p>\\n\\n<p>順頌 時祺<br>Erick | 企業醫生 & 量子調頻顧問</p>",
        "options": {}
      },
      "id": "f9f9f9f9-f9f9-f9f9-f9f9-f9f9f9f9f9f9",
      "name": "Send Day 1 Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1680,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "Rqk8bsAvcPGam3YF",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "id": "wait-day3",
      "name": "Wait (To Day 3)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1880,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "Erick | TimeWaver Audio <care@erickfirm.com>",
        "toEmail": "={{ $('Normalize Payment Payload').item.json.client_email }}",
        "subject": "【頻率適應期】Day 3 觀察：您的大腦正在重新連線",
        "emailFormat": "html",
        "text": "",
        "html": "=<p>{{ $('Normalize Payment Payload').item.json.client_name }} 您好，</p>\\n\\n<p>進入 Day 3，您的神經系統正從「抗拒改變」逐漸走向「接受共振」。</p>\\n\\n<p><strong>{{ $json.day3_content }}</strong></p>\\n\\n<p>調頻的本質，就像是幫一台長期過載的電腦重新整理磁碟。我們不需要您刻意去「放空」或「努力放鬆」，只要讓頻率作為背景環境，大腦的生物本能自然會去對齊這個穩定、健康的波長。</p>\\n\\n<p>請繼續保持聆聽，感受這份逐漸擴散的穩定感。</p>\\n\\n<p>順頌 時祺<br>Erick | 企業醫生 & 量子調頻顧問</p>",
        "options": {}
      },
      "id": "send-day3-email",
      "name": "Send Day 3 Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        2080,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "Rqk8bsAvcPGam3YF",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "days"
      },
      "id": "wait-day7",
      "name": "Wait (To Day 7)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2280,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "Erick | TimeWaver Audio <care@erickfirm.com>",
        "toEmail": "={{ $('Normalize Payment Payload').item.json.client_email }}",
        "subject": "【頻率校準週報】Day 7 深空適應期狀態確認",
        "emailFormat": "html",
        "text": "",
        "html": "=<p>{{ $('Normalize Payment Payload').item.json.client_name }} 您好，</p>\\n\\n<p>恭喜您完成了第一週的基礎校準！</p>\\n\\n<p><strong>{{ $json.day7_content }}</strong></p>\\n\\n<p>這幾天，您可能會發現一個現象：第一天聆聽時那種「強烈的放鬆感或衝擊感」似乎變平淡了。千萬別誤以為是音頻失效！</p>\\n\\n<p>在神經科學與頻率應用中，這稱為<strong>「同化效應（Assimilation Effect）」</strong>。這是一個極佳的訊號，代表您的大腦已經習慣了這個高質量的波長，並將它視為新的「底線狀態」。您的抗壓閾值與基礎能量，正在不知不覺中往上升級。</p>\\n\\n<p>享受這個逐漸成為常態的平靜，我們下週繼續觀察。</p>\\n\\n<p>順頌 時祺<br>Erick | 企業醫生 & 量子調頻顧問</p>",
        "options": {}
      },
      "id": "send-day7-email",
      "name": "Send Day 7 Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        2480,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "Rqk8bsAvcPGam3YF",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 7,
        "unit": "days"
      },
      "id": "wait-day14",
      "name": "Wait (To Day 14)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2680,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "Erick | TimeWaver Audio <care@erickfirm.com>",
        "toEmail": "={{ $('Normalize Payment Payload').item.json.client_email }}",
        "subject": "【深層清理期】Day 14：那些浮現的夢境與情緒",
        "emailFormat": "html",
        "text": "",
        "html": "=<p>{{ $('Normalize Payment Payload').item.json.client_name }} 您好，</p>\\n\\n<p>兩週過去了，您的頻率地基已經初步打穩。</p>\\n\\n<p><strong>{{ $json.day14_content }}</strong></p>\\n\\n<p>現在，這組頻率已經成為您強大的防護罩。然而，如同重訓一樣，如果每天都舉同樣的重量，肌肉就不會再增長；大腦的神經迴路也是如此，長時間接收單一頻率，最終會產生「頻率疲勞」，導致成長停滯。</p>\\n\\n<p>要讓大腦持續擴充心智頻寬、避免舊有慣性與焦慮感反撲，我們需要的是<strong>「節奏性的頻率切換」</strong>與更深層的底層邏輯重置。在下週的最後一封信中，我將與您分享如何保持這份得來不易的進化狀態。</p>\\n\\n<p>順頌 時祺<br>Erick | 企業醫生 & 量子調頻顧問</p>",
        "options": {}
      },
      "id": "send-day14-email",
      "name": "Send Day 14 Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        2880,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "Rqk8bsAvcPGam3YF",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 7,
        "unit": "days"
      },
      "id": "wait-day21",
      "name": "Wait (To Day 21)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3080,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "Erick | TimeWaver Audio <care@erickfirm.com>",
        "toEmail": "={{ $('Normalize Payment Payload').item.json.client_email }}",
        "subject": "【維度躍遷完成】Day 21：您的神經重置已達標",
        "emailFormat": "html",
        "text": "",
        "html": "=<p>{{ $('Normalize Payment Payload').item.json.client_name }} 您好，</p>\\n\\n<p>恭喜您！正式完成 21 天的基礎神經重置。</p>\\n\\n<p><strong>{{ $json.day21_content }}</strong></p>\\n\\n<p>在過去的一週裡，我們提到了「同化效應」。為了幫助您在未來持續維持高頻狀態，避免大腦對單一頻率產生疲勞，並順應外在能量場的轉換，我為您準備了兩條進階的躍遷路徑：</p>\\n\\n<hr style=\"border: 0; border-top: 1px solid #eee; margin: 20px 0;\">\\n\\n<p><strong>💡 路徑一：【四季頻率訂閱計畫】（多數菁英的日常防護罩）</strong><br>\\n這是一個專為維持心流與防禦雜訊設計的輕量級方案。系統將配合節氣與整體能量趨勢，每季自動為您派發全新的機能頻率音頻，確保您的大腦永遠保持在最佳的動態平衡，不再對單一頻率產生倦怠。<br>\\n<a href=\"[您的季更訂閱方案銷售頁連結]\" target=\"_blank\" style=\"color: #1a73e8; text-decoration: underline;\">👉 點此了解四季頻率訂閱，鎖定您的能量底線</a></p>\\n\\n<p><strong>💡 路徑二：【企業醫生：30 天高階專屬體檢療程】（突破重大瓶頸專用）</strong><br>\\n若您目前正面臨事業轉型、重大決策，或感覺有深層的「木馬程式」在阻礙您，單純的音頻已經不夠。這項高階服務將透過 TimeWaver 進行深度的信息場掃描，為您產出專屬的個人解析報告，並提供連續 30 天「每日動態更新」的客製化頻率支持，從根源徹底清理阻礙。<br>\\n<a href=\"[您的高階 1v1 諮詢/30天療程銷售頁連結]\" target=\"_blank\" style=\"color: #1a73e8; text-decoration: underline;\">👉 點此申請高階專屬體檢，進行深層系統重灌</a></p>\\n\\n<hr style=\"border: 0; border-top: 1px solid #eee; margin: 20px 0;\">\\n\\n<p>無論您選擇哪一條路徑，這 21 天的累積都不會白費。很高興能陪伴您走過這段找回平靜與專注的旅程。</p>\\n\\n<p>順頌 時祺<br>Erick | 企業醫生 & 量子調頻顧問</p>",
        "options": {}
      },
      "id": "send-day21-email",
      "name": "Send Day 21 Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        3280,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "Rqk8bsAvcPGam3YF",
          "name": "SMTP account 2"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Customer Data": {
      "main": [
        [
          {
            "node": "Normalize Payment Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payment Payload": {
      "main": [
        [
          {
            "node": "Google Sheets (Record Client)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets (Record Client)": {
      "main": [
        [
          {
            "node": "IF Type A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Type A": {
      "main": [
        [
          {
            "node": "Set Variables A",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Type B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Type B": {
      "main": [
        [
          {
            "node": "Set Variables B",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Type C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Type C": {
      "main": [
        [
          {
            "node": "Set Variables C",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Variables D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables A": {
      "main": [
        [
          {
            "node": "Send Day 1 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables B": {
      "main": [
        [
          {
            "node": "Send Day 1 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables C": {
      "main": [
        [
          {
            "node": "Send Day 1 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables D": {
      "main": [
        [
          {
            "node": "Send Day 1 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 1 Email": {
      "main": [
        [
          {
            "node": "Wait (To Day 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (To Day 3)": {
      "main": [
        [
          {
            "node": "Send Day 3 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 3 Email": {
      "main": [
        [
          {
            "node": "Wait (To Day 7)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (To Day 7)": {
      "main": [
        [
          {
            "node": "Send Day 7 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 7 Email": {
      "main": [
        [
          {
            "node": "Wait (To Day 14)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (To Day 14)": {
      "main": [
        [
          {
            "node": "Send Day 14 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 14 Email": {
      "main": [
        [
          {
            "node": "Wait (To Day 21)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (To Day 21)": {
      "main": [
        [
          {
            "node": "Send Day 21 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {}
}
