n8n_sleep_prescription_gmail.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "timewaver-prescription-delivery",
        "options": {}
      },
      "id": "e8d64c01-7009-40c2-acc2-902e1c9444d3",
      "name": "Webhook (Receive Form Data)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "webhookId": "timewaver-prescription-delivery"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook (Receive Form Data)').item.json.body.result_type }}",
              "value2": "A"
            }
          ]
        }
      },
      "id": "f5f5f5f5-f5f5-f5f5-f5f5-f5f5f5f5f5f5",
      "name": "IF Type A",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook (Receive Form Data)').item.json.body.result_type }}",
              "value2": "B"
            }
          ]
        }
      },
      "id": "e8e8e8e8-e8e8-e8e8-e8e8-e8e8e8e8e8e8",
      "name": "IF Type B",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        450
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook (Receive Form Data)').item.json.body.result_type }}",
              "value2": "C"
            }
          ]
        }
      },
      "id": "d1d1d1d1-d1d1-d1d1-d1d1-d1d1d1d1d1d1",
      "name": "IF Type C",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        600
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "download_link",
              "value": "https://drive.google.com/drive/folders/1DsJJktVmnEXULZNW3ecUvxCB8OlJ3PVH?usp=drive_link"
            },
            {
              "name": "prescription_name",
              "value": "【A劑】斷路器・Theta波 4-7Hz"
            },
            {
              "name": "prescription_desc",
              "value": "強制切斷表意識的過載運轉，像拔掉大腦電源插頭一樣釋放腦壓。"
            },
            {
              "name": "observation_indicators",
              "value": "請觀察：1. 入睡前腦袋「跑馬燈」的次數是否減少？ 2. 早上醒來時，頭部的緊繃感是否有減輕？"
            }
          ]
        },
        "options": {}
      },
      "id": "a1a1a1a1-a1a1-a1a1-a1a1-a1a1a1a1a1a1",
      "name": "Set Variables A",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        500,
        150
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "download_link",
              "value": "https://drive.google.com/drive/folders/1DsJJktVmnEXULZNW3ecUvxCB8OlJ3PVH?usp=drive_link"
            },
            {
              "name": "prescription_name",
              "value": "【B劑】深海艙・Delta波 0.5-4Hz"
            },
            {
              "name": "prescription_desc",
              "value": "物理性深層修復，將頻率拖入深海，阻絕外界雜音，強迫身體進入深層睡眠期。"
            },
            {
              "name": "observation_indicators",
              "value": "請觀察：1. 半夜醒來的次數是否減少？ 2. 早上起床時，身體的痠痛與沉重感是否有所改善？"
            }
          ]
        },
        "options": {}
      },
      "id": "b2b2b2b2-b2b2-b2b2-b2b2-b2b2b2b2b2b2",
      "name": "Set Variables B",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "download_link",
              "value": "https://drive.google.com/drive/folders/1DsJJktVmnEXULZNW3ecUvxCB8OlJ3PVH?usp=drive_link"
            },
            {
              "name": "prescription_name",
              "value": "【C劑】心流校準・Alpha波 8-12Hz"
            },
            {
              "name": "prescription_desc",
              "value": "讓大腦在平靜中預先彩排明天的從容狀態，消除未知的恐懼感後自然入睡。"
            },
            {
              "name": "observation_indicators",
              "value": "請觀察：1. 對明天任務的預期性焦慮是否降低？ 2. 隔天工作時，進入「專注狀態」的速度是否變快？"
            }
          ]
        },
        "options": {}
      },
      "id": "c3c3c3c3-c3c3-c3c3-c3c3-c3c3c3c3c3c3",
      "name": "Set Variables C",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        900,
        450
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "download_link",
              "value": "https://drive.google.com/drive/folders/1DsJJktVmnEXULZNW3ecUvxCB8OlJ3PVH?usp=drive_link"
            },
            {
              "name": "prescription_name",
              "value": "【D劑】豐盛錨點・Solfeggio 852Hz"
            },
            {
              "name": "prescription_desc",
              "value": "在睡前最脆弱的時刻，洗掉恐懼的頻率，植入豐盛與信任的錨點。"
            },
            {
              "name": "observation_indicators",
              "value": "請觀察：1. 半夜驚醒時，那種「匱乏感與恐懼感」的強度是否減弱？ 2. 白天面對財務或決策時，是否感覺更加安定？"
            }
          ]
        },
        "options": {}
      },
      "id": "d4d4d4d4-d4d4-d4d4-d4d4-d4d4d4d4d4d4",
      "name": "Set Variables D",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        900,
        650
      ]
    },
    {
      "parameters": {
        "fromEmail": "Erick | TimeWaver Audio <kern0907@gmail.com>",
        "toEmail": "={{ $('Webhook (Receive Form Data)').item.json.body.email }}",
        "subject": "【專屬載入】您的 TimeWaver 睡眠頻率處方已生成 (Day 1)",
        "text": "",
        "html": "=<h2>{{ $('Webhook (Receive Form Data)').item.json.body.name }}，您好：</h2><p>這是您專屬的睡眠診斷結果與數位處方。</p><p>根據系統運算，您目前的失眠根源需要：<br><strong>{{ $json.prescription_name }}</strong></p><p><em>作用機制：{{ $json.prescription_desc }}</em></p><hr><p><strong>【前三天觀察指標】</strong><br>{{ $json.observation_indicators }}</p><hr><p><strong>【服用指南】</strong><br>1. 請在睡前 15 分鐘下載並戴上降噪耳機。<br>2. <strong>重要：請開啟飛航模式</strong>，切斷所有外界電磁波與訊息干擾。<br>3. 點擊播放，不需專注，不需刻意放鬆，讓頻率強制接管您的神經系統。</p><p><a href=\"{{ $json.download_link }}\" style=\"display: inline-block; padding: 10px 20px; background-color: #0a192f; color: #ffffff; text-decoration: none; border-radius: 5px;\">點此下載您的數位處方 (30秒高維度試聽)</a></p><hr><p>這是一份「活」的音頻。我們已在源頭（德國 TimeWaver 設備）將其設定為您的信息場錨點，並會持續進行遠端頻率優化。我們將在第 3 天發送追蹤確認。</p><p>今晚，祝您擁有真正的深度休眠。</p><p><strong>Erick | 全息人生架構師</strong></p>",
        "options": {}
      },
      "id": "f9f9f9f9-f9f9-f9f9-f9f9-f9f9f9f9f9f9",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "gmail_smtp_credential",
          "name": "Erick Gmail SMTP"
        }
      }
    }
  ],
  "connections": {
    "Webhook (Receive Form Data)": {
      "main": [
        [
          {
            "node": "IF Type A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Type A": {
      "main": [
        [
          {
            "node": "Set Variables A",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Type B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Type B": {
      "main": [
        [
          {
            "node": "Set Variables B",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Type C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Type C": {
      "main": [
        [
          {
            "node": "Set Variables C",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Variables D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables A": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables B": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables C": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables D": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
